html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #e4e4e4;
}

.main {
  display: flex;
  height: 100%;
}

.main .left-main {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: left;
  width: 40%;
}

.main .right-main {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  width: 60%;
}

.main .right-main .container {
  margin-top: 30%;
}

.main .right-main .container a {
  text-decoration: none;
}

.main .right-main .container h1 {
  color: #d5ddec;
  justify-content: center;
  display: flex;
  text-shadow: 2px 3px 20px rgba(255, 255, 255, 0.404);
  font-family: Prospekt;
  letter-spacing: 3px;
  font-size: 60px;
}

.main .right-main .container h1:hover {
  color: #aebfdc;
}

.main .right-main .container p {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  font-family: Prospekt;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 4px 4px 60px white;
  font-size: 30px;
}

.main .right-main .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main .right-main .links a {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 8px;
  background-color: #0f0f0f;
  color: #e9e6e6;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 40px;
  font-family: Glenn;
  border: 1px solid #d4d4d4;
  padding: 15px 48px 15px 48px;
  box-shadow: 2px 2px 150px rgba(255, 255, 255, 0.191);
}

.main .right-main .links a:hover {
  background-color: #1e1e1e;
}

.main .right-main .social-media {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 35px;
}

.main .right-main .social-media a {
  color: #e9edf0;
  margin-left: 20px;
  margin-right: 20px;
}

.main .right-main .social-media a:hover {
  color: rgb(179, 179, 179);
}

.main .right-main .cp {
  color: rgba(255, 255, 255, 0.685);
  margin-top: 140px;
  text-align: center;
  font-family: Glenn;
}

@font-face {
  font-family: "Prospekt";
  src: url("/font/Prospekt\ Regular.otf") format("woff2");
}

@font-face {
  font-family: "Glenn";
  src: url("/font/BwGlennSans-Regular.otf") format("woff2");
}